$white: rgb(255, 255, 255);
$lightGrey: rgb(225, 225, 225);
$darkGrey: rgb(84, 84, 84);
$black: #333;
$red: rgb(213, 109, 109);
$navy: rgb(76, 88, 106);
$green: rgb(94, 191, 104);
$blue: hsl(208, 99%, 40%);